<div class="d-flex justify-content-center">
    <div class="spinner-grow text-warning mt-1 spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    
    <div class="spinner-grow text-info mt-1 spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    
    <div class="spinner-grow text-danger mt-1 spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="card-body">
    <h5 class="card-title">ARRAY VACIO</h5>
    <p class="card-text">No hay información para mostrar, ingresar tareas para mostrar información</p>
  </div>

